.containerFeauter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 80vh;
    gap:30px;
  }
  .feauter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:10px;
  /*Se podra hacer con wrap?*/
  }
  .image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7c7a7a;
    border-radius: 10px;
    max-width: 214px;
    min-width: 100px;
    max-height: 210px;
    min-height: 100px;
  }
  .containerFeauter .feauter:nth-child(1) .info p{
    width: 215px;
  }