footer{
    padding: 20px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #1E293B;
    color: #fff;
    font-weight: 50 0;
  }
.footer{
    display: flex;
    justify-content: center;
}
  